@keyframes scaleDraw {  /*定义关键帧、scaleDrew是需要绑定到选择器的关键帧名称*/
    0%{
        transform: scale(1);  /*开始为原始大小*/
    }
    25%{
        transform: scale(1.5); /*放大1.1倍*/
    }
    50%{
        transform: scale(1);
    }
    75%{
        transform: scale(1.5);
    }
}

.showImg {
    width: 400px;
    height: 1000px;
    animation: scaleDraw 5s ease-in-out infinite;
}
/*https://www.cnblogs.com/yuanchao-blog/p/11698458.html*/