.info-list{

    display: flex;
    flex-direction: row;
}

.info-list li{
    /*text-decoration: none;*/
    list-style: none;
    width: 120px;
    /*text-indent: 0;*/
}


.list-box {
    margin-right: 20px;
    padding: 0;
    text-indent: 10px;
    /*background-color: #fff;*/
}


.list-box li{
    /*width: 270px;*/
    height: 30px;
    color: white;
    background-color: deepskyblue;
    margin: 2px;
    text-decoration: none;
    list-style:none;
}

.list-box a{
    color: white;
    text-decoration: none;
    /*margin-left: 20px;*/
    text-indent: 20px;
}
/*.list-box not()*/

.width-200 li{
    width: 200px;
}

.width-300 li{
    width: 300px;
}

.long-ul{
    width: 500px;
}