/*分享工具栏样式*/
.title-bar {
    display: flex;
    /*flex-flow: row wrap;*/
    justify-content: flex-end;
    padding: 2px 0;
    /*padding-top: 3px;*/
}

.title-bar p {
    /*padding-top: 3px;*/
    margin:0;
    /*conunter(lower-roman)*/
}

.title-bar {
    /*background-color: hsl(0, 0%, 95%);*/
}